h1 {
    font-size: 2.5em;
    text-align: center;
}

main {
    max-width: 65%;
    margin: 0 auto;
    /*centers the whole thing*/
    padding: 20px;
    max-width: 600px;
    font-family: Georgia;
}

/*this sets the p tag properties across the whole site. if you want to override it, you'll have to target specific sections with new properties (see .graphic p below*/
main p {
    font-size: 1em;
    line-height: 1.5em;
}

/*the image is 650px wide. we don't let it stretch out even if browser wider. need this so we can center it with margin: auto */
figure {
    margin: auto;
    max-width: 650px;
}

/* by adding this, we make sure that the image is always seen as 100% even if browswer window gets narrower. */
figure img {
    width: 100%;
}

figcaption {
    color: gray;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 20px;
    padding-left: 0px;
    /* shortcut for the 4 lines of padding */
    /* padding: 5px 0px 20px 0px; */
}

span {
    font-weight: bold;
}

.byline {
    text-transform: uppercase;
}

/* different than the main h1 because article h1 refers to h1(s) in the article section*/
article h1 {
    font-size: 1.5em;
    text-transform: none;
    /*we need this here because styles cascade down and we want something different*/
    /* text-align: center; */
}

.intro {
    width: 100%;
    /*Important to note that this section will be 100% wide of the container it is in*/
}

.graphic, .holder {
    margin: 10px;
    padding: 10px;
    float: left;
    max-width: 100%;
    float: left;
    font-family: Helvetica;
    /*notice how this overrides the font set in the main section.*/
    background: #D9B68E;
}

/*if you uncomment the section below, you will see it turn the p text green only in the graphic section*/
/*.graphic p {
  color: green;
}*/
.icon {
    max-width: 25%;
    /*keeps the image small*/
    float: left;
}

.icon img {
    max-width: 100%;
    /*pushes image down to align with top of text*/
    margin-top: 20px;
}

/*prevents icons from overlapping text*/